
<!DOCTYPE html>
<html lang="en">
		<head>
				<title>Cresco </title>
				<meta charset="utf-8">
				<% include partials/head %>


				<div class="wrapper nb content" >
            
						<nav >
                                <div class="row">
                                    <h1 class="col-3"><a href="/" id="logo">CRESCO</a></h1>
                                    <div class="">
                                        <ul id="menu" left>
                                            <li ><a href="/">Inicio</a></li>
                                            <li ><a href="/nosotros">Conocenos</a></li>
                                            <li ><a href="/servicios">Servicios</a></li>
                                            <li ><a href="/proyectos">Proyectos</a></li>
                                            <li id="menu_active"><a href="/contacto">Contactanos</a></li>
                                            <li ><a href="/login">Login</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        
                        </div>
                    
                <!-- / header -->
            </head>
    
					</div>
				
			<!-- / header -->
        </head>


<body id="page5">
	
		<div class="content">
	<!-- content -->

<section id="content">
		<div class="wrapper">
			<div class="row">
				<article class="pad_left1 col-5 offset-1">
					
					<h2>Contacto</h2>
					<div class="row">
						<div class="col-4">
						
							Pais:<br>
							Ciudad:<br>
							Telefono:<br>
							Email:
						</div>
						<div class="col-8">
							Venezuela<br>
							Barquisimeto<br>
							+58 5635600<br>
							<a href="mailto:">cresco@gmail.com</a>
						</div>						
					</div>
					<div class="row">
						<h2>Informacion</h2>
					</div>
					<p>cualquier critica constructiva</p>
	
				</article>
				<article class="pad_left1 col-6">
					<h2>Contact Form</h2>
					<form id="ContactForm" action="">
						<div>
							<div class="wrapper">
									Nombre:<input type="text" class="input" ><br>
							</div>
							<div  class="wrapper">
									Correo:<input type="text" class="input" ><br>
							</div>
							<div  class="wrapper">
									Mensaje:<textarea name="textarea" cols="1" rows="1"></textarea><br>
							</div>
							
							<a type="button" href="#" onClick="document.getElementById('ContactForm').submit()">Enviar</a>
							<a href="#" onClick="document.getElementById('ContactForm').reset()">Borrar</a>
						</div>
					</form>
				</article>
			</div>
		</div>
	</section>
<!-- content end-->
</div>

<!-- footer -->
<footer>
		<a rel="nofollow" href="http://www.templatemonster.com/" target="_blank">facebook</a>
		<br>
		<a href="http://www.templates.com/product/3d-models/" target="_blank">Twitter</a> 
	
</footer>
<!-- footer end-->

<script type="text/javascript"> //Cufon.now(); </script>
</body>
</html>
