<!DOCTYPE html>
<html lang="en">
<head>
	<title>encuestas</title>
    <% include partials/head %>
</head>
<body>

	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
                <h1>Encuestas</h1>
                <table id="tabla" class="table table-bordered table-hover">
                        <tbody>
                                <% for(var i = 0; i < encuestas.length; i++){ %>
                                    
                                    <tr>

                                <td>
                                         
                                        <%= encuestas[i].title %>
                                    
                                    </td>
                                    <td>
                                      <a href="/encuestas/<%= encuestas[i].code %>">IR</a>
                                   </td> 
                                 
                                  </tr> 
                               
                                <% } %>
                            </tbody>
                </table>
                 
            </div>
			</div>
        </div>
