<!DOCTYPE html>
<html lang="en">
<head>
	<title>encuestas</title>
    <% include partials/head %>
</head>
<body>

	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
                <h1>Encuestas</h1>
                <table id="tabla" class="table table-bordered table-hover">
                        <tbody>
                                <% for(var i = 0; i < encuestas.length; i++){ %>
                                    <a href="/encuesta"> 
                                <tr>

                                <td>
                                        
                                      <%= encuestas[i].tittle %>
                                    </td>
                                    <td>
                                      <%= encuestas[i]._id %>
                                   </td> 
                                 
                                  </tr> 
                                </a>
                                <% } %>
                            </tbody>
                </table>
                 
            </div>
			</div>
        </div>
