<!DOCTYPE html>
<html lang="en">
<head>
	<title>CRESCO</title>
	<% include partials/head %>
</head>
<body>

	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
				<h1><span class="fa fa-block"></span>Bienvenido</h1>
				
				<a href="/login" class="btn btn-light">
					<span class="fa fa-user"></span> Ingresar
				</a>
				<a href="/signup" class="btn btn-light">
					<span class="fa fa-user"></span> Registrarse
				</a>
				
			</div>
		</div>
	</div>

</body>
</html>
