<!DOCTYPE html>
<html lang="en">
		<head>
				<title>Cresco </title>
				<meta charset="utf-8">
				<% include partials/head %>


				<div class="wrapper nb content" >
            
						<nav >
							<div class="row">
								<h1 class="col-4"><a href="/" id="logo">CRESCO C.A.</a></h1>
								<div class="">
									<ul id="menu" left>
										<li id="menu_active"><a href="/">Inicio</a></li>
										<li ><a href="../About.ejs">Conocenos</a></li>
										<li ><a href="../Servicio.ejs">Servicios</a></li>
										<li ><a href="../Proyecto.ejs">Proyectos</a></li>
										<li ><a href="/login">Login</a></li>
										<li ><a href="/signup">Regis</a></li>
									</ul>
								</div>
							</div>
						</nav>
					
					</div>
				
			<!-- / header -->
        </head>


<body id="page1">
	
		<div id="banner" class="content">
			<div class="row">
				<div class="text col-6 nb">
					<h1>Tu mejor opcion a la hora de realizar Encuestas,<span>sencillas, rapidas y seguras</span></h1>
					<a href="#" class="button">...leer mas...</a>
				</div>
				<div class="col-6">
					<img src="../public/images/encuesta.png">
				</div>
			</div>
		</div>
<div class="main">
		<!--<div class="body1"></div>-->

<!-- content -->
<div class="ic">Por si acaso</div>
	<section id="content">
		<div class="box1 nb">
			<div class="wrapper">
				<div class="row">
					<h2 class="col-3" style="color: white">Servicios</h2>
						<ul class="list1 pad_left2 col-3">
							<li><a href="#">Encuestas Personales</a></li>
							<li><a href="#">Encuestas Corporativas</a></li>
							<li class="bg_none"><a href="#">Graficas de resultados</a></li>
						</ul>
						<ul class="list1  pad_left2 col-3">
							<li><a href="#">Encuestas Personales</a></li>
							<li><a href="#">Encuestas Corporativas</a></li>
							<li class="bg_none"><a href="#">Graficas de resultados</a></li>
						</ul>
						<ul class="list1 pad_left2 col-3">
							<li><a href="#">Encuestas Personales</a></li>
							<li><a href="#">Encuestas Corporativas</a></li>
							<li class="bg_none"><a href="#">Graficas de resultados</a></li>
						</ul>
					</div>
			</div>
		</div>
		<div class="wrapper">
			<div class="row">
			<article class=" offset-1 pad_left1 col-3">
				<h2> Nuevas noticias</h2>
				<p><span class="color1">26.02.2018</span> <br><a href="#" class="link1">Descuento de 1 mes con la suscripcion premiun</a></p>
				<p><span class="color1">09.04.2018</span><br><a href="#" class="link1">Promocion de semana santa</a></p>
				<p><span class="color1">02.06.2018</span><br><a href="#" class="link1">Al contactarnos su negocio siempre estara actualizado en que quieren los clientes</a></p>
				<p><a href="#">...ver mas...</a></p>
			</article>
			<article class="pad_left1 col-7 offset-1">
				<h2>Bienvenido a CRESCO <span>Su mejor opcion</span></h2>
				<p class="pad_bot2">SE nuestro cliente</p>
				<div class="line1 wrapper">
					<div class="row">
						
						<article class="col-6">
							<figure><img src="../public/images/info.png" alt="" class="pad_bot1"></figure>
							saca el maximo provecho a la informacion
						</article>
						<article class=" col-6">
							<figure><img src="../public/images/muestra1.jpeg" alt="" class="pad_bot1"></figure>
							Tus clientes se sentiran mejor si los tomas en cuenta
						</article>
					
					</div>
				</div>
			</article>
		</div>
		</div>
	</section>
<!-- content end-->
</div>

<!-- footer -->
<footer>
		<a rel="nofollow" href="http://www.templatemonster.com/" target="_blank">facebook</a>
		<br>
		<a href="http://www.templates.com/product/3d-models/" target="_blank">Twitter</a> 
	
</footer>
<!-- footer end-->

<script type="text/javascript"> //Cufon.now(); </script>
</body>
</html>