<!DOCTYPE html>
<html lang="en">
		<head>
				<title>Cresco </title>
				<meta charset="utf-8">
				<% include partials/head %>


				<div class="wrapper nb content" >
            
						<nav >
							<div class="row">
								<h1 class="col-3"><a href="/" id="logo">CRESCO</a></h1>
								<div class="">
									<ul id="menu" left>
										<li ><a href="/">Inicio</a></li>
										<li id="menu_active"><a href="/nosotros">Conocenos</a></li>
										<li ><a href="/servicios">Servicios</a></li>
										<li ><a href="/proyectos">Proyectos</a></li>
										<li ><a href="/contacto">Contactanos</a></li>
										<li ><a href="/login">Login</a></li>
										
									</ul>
								</div>
							</div>
						</nav>
					
					</div>
				
			<!-- / header -->
        </head>


<body id="page1">
	
		<div class="wrapper ">
			<div class="row">
			<article class=" offset-1 pad_left1 col-3">
				<h2> Nuevas noticias</h2>
				<p>somos una empresa dedicada al servicio de nuestros clientes desde hace mucho y todo es realizado con seriedad y responsabilidad</p>
			</article>
			<article class="pad_left1 col-7 offset-1">
				<h2>Bienvenido a CRESCO <span>Su mejor opcion</span></h2>
				<p class="pad_bot2">Disfruta mientras nosotros hacemos el trabajo pesado por ti, unete hoy</p>
				<div class="line1 wrapper">
					<div class="row">
						
						<article class="col-6">
							<figure><img src="../public/images/info.png" alt="" class="pad_bot1"></figure>
							saca el maximo provecho a la informacion
						</article>
						<article class=" col-6">
							<figure><img src="../public/images/muestra1.jpeg" alt="" class="pad_bot1"></figure>
							Tus clientes se sentiran mejor si los tomas en cuenta
						</article>
					
					</div>
				</div>
			</article>
		</div>
		</div>
	</section>
<!-- content end-->
</div>


<!-- footer -->
<footer>
		<a rel="nofollow" href="http://www.templatemonster.com/" target="_blank">facebook</a>
		<br>
		<a href="http://www.templates.com/product/3d-models/" target="_blank">Twitter</a> 
	
</footer>
<!-- footer end-->

<script type="text/javascript"> //Cufon.now(); </script>
</body>
</html>