<!DOCTYPE html>
<html lang="en">
		<head>
				<title>Cresco </title>
				<meta charset="utf-8">
				<% include partials/head %>


				<div class="wrapper nb content" >
            
						<nav >
							<div class="row">
								<h1 class="col-4"><a href="/" id="logo">CRESCO C.A.</a></h1>
								<div class="">
									<ul id="menu" left>
										<li ><a href="/">Inicio</a></li>
										<li ><a href="/nosotros">Conocenos</a></li>
										<li ><a href="/servicios">Servicios</a></li>
										<li id="menu_active"><a href="/proyectos">Proyectos</a></li>
										<li ><a href="/login">Login</a></li>
										<li ><a href="/signup">Regis</a></li>
									</ul>
								</div>
							</div>
						</nav>
					
					</div>
				
			<!-- / header -->
        </head>


<body id="page1">

            <div class="wrapper">
                    <div class="row">
                    <article class=" offset-1 pad_left1 col-3">
                        <h2> Proyecto 1</h2>
                        <br>
                        <p>encuestas multiples</p>
                        <figure><img src="../public/images/muestra1.jpeg" alt="" class="pad_bot1"></figure>
                    </article>
                    <article class="pad_left1 col-3 offset-1">
                        <h2>Graficas Bellas</h2>
                                    <figure><img src="../public/images/muestra1.jpeg" alt="" class="pad_bot1"></figure>
                                    
                    </article>
                    <article class=" offset-1 pad_left1 col-3">
                            <h2> Encuestas Corporativas</h2>
                            <br>
                            <figure><img src="../public/images/muestra1.jpeg" alt="" class="pad_bot1"></figure>
                        </article>
                </div>
                </div>
<!-- footer -->
<footer>
		<a rel="nofollow" href="http://www.templatemonster.com/" target="_blank">facebook</a>
		<br>
		<a href="http://www.templates.com/product/3d-models/" target="_blank">Twitter</a> 
	
</footer>
<!-- footer end-->

<script type="text/javascript"> //Cufon.now(); </script>
</body>
</html>