<!DOCTYPE html>
<html lang="en">
		<head>
				<title>Cresco </title>
				<meta charset="utf-8">
				<% include partials/head %>


				<div class="wrapper nb content" >
            
						<nav >
                                <div class="row">
                                    <h1 class="col-3"><a href="/" id="logo">CRESCO</a></h1>
                                    <div class="">
                                        <ul id="menu" left>
                                            <li ><a href="/">Inicio</a></li>
                                            <li ><a href="/nosotros">Conocenos</a></li>
                                            <li id="menu_active"><a href="/servicios">Servicios</a></li>
                                            <li ><a href="/proyectos">Proyectos</a></li>
                                            <li ><a href="/contacto">Contactanos</a></li>
                                            <li ><a href="/login">Login</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </nav>
					
					</div>
				
			<!-- / header -->
        </head>


<body id="page1">
    
        <div class="box1 nb">
                <div class="wrapper">
                    <div class="row">
                        <h2 class="col-3" style="color: white">Servicios</h2>
                            <ul class="list1 pad_left2 col-3">
                                <li><a href="#">Encuestas Personales</a></li>
                                <li><a href="#">Encuestas Corporativas</a></li>
                                <li class="bg_none"><a href="#">Graficas de resultados</a></li>
                            </ul>
                            <ul class="list1  pad_left2 col-3">
                                <li><a href="#">Encuestas Personales</a></li>
                                <li><a href="#">Encuestas Corporativas</a></li>
                                <li class="bg_none"><a href="#">Graficas de resultados</a></li>
                            </ul>
                            <ul class="list1 pad_left2 col-3">
                                <li><a href="#">Encuestas Personales</a></li>
                                <li><a href="#">Encuestas Corporativas</a></li>
                                <li class="bg_none"><a href="#">Graficas de resultados</a></li>
                            </ul>
                        </div>
                </div>
            </div>

            <div class="wrapper">
                    <div class="row">
                    <article class=" offset-1 pad_left1 col-3">
                        <h2> Encuestas personales</h2>
                        <br>
                        <p>encuestas realizadas a cualquier persona con todo el tiempo del mundo y paciencia, ademas con una simpatia unica</p>
                    </article>
                    <article class="pad_left1 col-3 offset-1">
                        <h2>Graficas Bellas</h2>
                                    <figure><img src="../public/images/muestra1.jpeg" alt="" class="pad_bot1"></figure>
                                    saca el maximo provecho a la informacion     
                    </article>
                    <article class=" offset-1 pad_left1 col-3">
                            <h2> Encuestas Corporativas</h2>
                            <br>
                            <p>encuestas realizadas todo su personal laboral y en tiempo recor</p>
                        </article>
                </div>
                </div>
<!-- footer -->
<footer>
		<a rel="nofollow" href="http://www.templatemonster.com/" target="_blank">facebook</a>
		<br>
		<a href="http://www.templates.com/product/3d-models/" target="_blank">Twitter</a> 
	
</footer>
<!-- footer end-->

<script type="text/javascript"> //Cufon.now(); </script>
</body>
</html>